* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff1bd;
    border-bottom: 2px solid black;
}

.container {
    display: flex;
    height: 100%;
    width: 92%;
    margin: auto;
}

.navbar img {
    height: 30px;
    height: 85px;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: 27%;
    float: right;
}

.topicos_li {
    list-style: none;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    float: left;
}

.current {
    list-style: none;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: 900;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    font-weight: 900;
}


/* final da navbar */

.sobre {
    height: 90vh;
    background-color: #193647;
    color: #fff1bd;
}

.salvador {
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.texto_salvador {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    line-height: 22px;
}

.titulo_principal {
    margin-bottom: 5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #debb53;
}

.texto_salvador p {
    width: 78%;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.titulo {
    width: 100%;
    margin-top: 2%;
}

.seta_rolagem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.seta_rolagem img {
    width: 2%;
    position: absolute;
    bottom: 5vh;
    animation: seta_baixo 1s infinite;
}

@keyframes seta_baixo {
    0% {
        bottom: 10vh;
    }
    50% {
        bottom: 7vh;
    }
    100% {
        bottom: 10vh;
    }
}


/* final do sobre */

.pontos_turisticos {
    height: 390vh;
    width: 100%;
    background-color: #fff1bd;
}

.titulo span {
    margin-top: 4%;
    font-size: 32px;
    font-family: arial;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

.titulo span::after {
    content: "";
    display: inline-block;
    width: 53%;
    background: #debb53;
    height: 2px;
    margin: 1.3% 7px;
    position: absolute;
}

.place {
    display: flex;
    margin-top: 6%;
}

.place img {
    width: 34%;
}

.place_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.place_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #193647;
}

.place_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.place_outro_lado {
    display: flex;
    margin-top: 6%;
}

.place_outro_lado img {
    width: 34%;
}

.place_outro_lado_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.place_outro_lado_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #193647;
}

.place_outro_lado_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}


/* final dos pontos turísticos */

.gastronomia {
    height: 245vh;
    width: 100%;
    background-color: #193647;
    color: #fff1bd;
    border-bottom: 2px solid black;
}

.titulo_gastronomia {
    display: flex;
    margin-top: 2%;
    align-items: flex-start;
}

.titulo_gastronomia span {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #debb53;
}

.titulo_gastronomia span::after {
    content: "";
    display: inline-block;
    width: 73%;
    background: #fff1bd;
    height: 2px;
    margin: 1.3% 7px;
    position: absolute;
}

.gastronomia_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.gastronomia_content p {
    width: 50%;
    line-height: 22px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.gastronomia_content img {
    width: 30%;
}

.pratos {
    display: flex;
    margin-top: 6%;
}

.pratos img {
    width: 30%;
}

.pratos_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.pratos_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #debb53;
}

.pratos_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #fff1bd;
}

.pratos_outro_lado {
    display: flex;
    margin-top: 6%;
}

.pratos_outro_lado img {
    width: 30%;
}

.pratos_outro_lado_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.pratos_outro_lado_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #debb53;
}

.pratos_outro_lado_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #fff1bd;
}