* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff1bd; */
    border-bottom: 2px solid black;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 241, 189, 1) 0%, rgba(209, 223, 245, 1) 100%, rgba(251, 236, 185, 1) 100%, rgba(48, 0, 0, 1) 100%);
}

.container {
    display: flex;
    height: 100%;
    width: 92%;
    margin: auto;
}

.navbar img {
    height: 85px;
    margin: 8px 0 0 53px;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-right: 66px;
}

.topicos_li {
    display: inline-block;
    list-style: none;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}

.current {
    list-style: none;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: 900;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    font-weight: 900;
}

.checkbtn {
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

@media(max-width:850px) {
    .checkbtn {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 241, 189, 1) 0%, rgba(209, 223, 245, 1) 100%, rgba(251, 236, 185, 1) 100%, rgba(48, 0, 0, 1) 100%);
        top: 110px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul .topicos_li .current {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
}


/* final da navbar */

.sobre {
    height: 90vh;
    background-color: #193647;
    color: #fff1bd;
    border-bottom: 2px solid black;
}

.salvador {
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.texto_salvador {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    line-height: 22px;
}

.titulo_principal {
    margin-bottom: 5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #debb53;
}

.texto_salvador p {
    width: 78%;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.titulo {
    width: 100%;
    margin-top: 2%;
}

.seta_rolagem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.seta_rolagem img {
    width: 2%;
    position: absolute;
    bottom: 5vh;
    animation: seta_baixo 1s infinite;
}

@keyframes seta_baixo {
    0% {
        bottom: 10vh;
    }
    50% {
        bottom: 7vh;
    }
    100% {
        bottom: 10vh;
    }
}


/* final do sobre */

.pontos_turisticos {
    height: 440vh;
    width: 100%;
    background-color: #fff1bd;
    border-bottom: 2px solid black;
}

.titulo span {
    margin-top: 4%;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

.titulo span::after {
    content: "";
    display: inline-block;
    width: 53%;
    background: #debb53;
    height: 2px;
    margin: 1.3% 7px;
    position: absolute;
}

.place {
    display: flex;
    margin-top: 6%;
}

.place img {
    width: 34%;
}

.place_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.place_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #193647;
}

.place_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.place_outro_lado {
    display: flex;
    margin-top: 6%;
}

.place_outro_lado img {
    width: 34%;
}

.place_outro_lado_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.place_outro_lado_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #193647;
}

.place_outro_lado_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}


/* final dos pontos turísticos */

.gastronomia {
    height: 267vh;
    width: 100%;
    background-color: #193647;
    color: #fff1bd;
    border-bottom: 2px solid black;
}

.titulo_gastronomia {
    display: flex;
    margin-top: 2%;
    align-items: flex-start;
}

.titulo_gastronomia span {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #debb53;
}

.titulo_gastronomia span::after {
    content: "";
    display: inline-block;
    width: 73%;
    background: #fff1bd;
    height: 2px;
    margin: 1.3% 7px;
    position: absolute;
}

.gastronomia_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.gastronomia_content p {
    width: 50%;
    line-height: 22px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.gastronomia_content img {
    width: 30%;
}

.pratos {
    display: flex;
    margin-top: 6%;
}

.pratos img {
    width: 30%;
}

.pratos_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.pratos_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #debb53;
}

.pratos_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #fff1bd;
}

.pratos_outro_lado {
    display: flex;
    margin-top: 6%;
}

.pratos_outro_lado img {
    width: 30%;
}

.pratos_outro_lado_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.pratos_outro_lado_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #debb53;
}

.pratos_outro_lado_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #fff1bd;
}


/* Cultura */

.cultura {
    height: 400vh;
    width: 100%;
    background-color: #fff1bd;
}

.titulo_cultura span {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: black;
}

.titulo_cultura {
    margin-top: 2%;
}

.titulo_cultura span::after {
    content: "";
    display: inline-block;
    width: 81%;
    background-color: #debb53;
    height: 2px;
    margin: 1.3% 7px;
    position: absolute;
}

.cultura_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.cultura_content p {
    width: 50%;
    line-height: 22px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.cultura_content img {
    width: 30%;
}

.culturas {
    display: flex;
    margin-top: 6%;
}

.culturas img {
    width: 31%;
}

.culturas_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.culturas_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #193647;
}

.culturas_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.culturas_outro_lado {
    display: flex;
    margin-top: 6%;
}

.culturas_outro_lado img {
    width: 31%;
}

.culturas_outro_lado_content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.culturas_outro_lado_content span {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #193647;
}

.culturas_outro_lado_content p {
    line-height: 22px;
    margin-top: 3%;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}


/* final da cultura */

.footer {
    width: 100%;
    height: 20vh;
    background-color: #193647;
    border-top: 2px solid black;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #fff1bd;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.footer_content h4 {
    font-size: 12px;
}

.site ul {
    display: flex;
    align-items: center;
}

.site li {
    list-style: none;
    text-transform: uppercase;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    transition: color 0.8s;
    font-size: 12px;
    font-weight: 700;
}

.site a {
    text-decoration: none;
    color: white;
}

.site a:hover {
    color: #fff1bd;
    opacity: 0.8;
}

.site li:hover {
    color: #fff1bd;
    opacity: 0.8;
}

.novidades {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.novidades h2 {
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 20px;
}

.novidades form {
    width: 100%;
}

.novidades input {
    outline: none;
    border: 2px solid black;
    border-radius: 9px;
    background-color: #ffea9a;
    padding: 2% 2%;
}

.novidades button {
    padding: 2% 3%;
    background-color: #ffea9a;
    color: #193647;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.5s;
}

.novidades button:hover {
    background-color: antiquewhite;
}

.redes_sociais {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    cursor: pointer;
}

.redes_sociais i {
    margin: 3% 10%;
    transition: 0.5s;
    font-size: 20px;
}

.redes_sociais i:hover {
    color: white;
    opacity: 0.8;
}